#Payment{
   width: 100%;
   background-color: #eee;
}
#Header{
  background-color: #111111f3;
  position: fixed;
  width: 100vw;
  z-index: 10;
}
#Header .container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f1f1f1;
  width: 100%;
}
#logoSection{
  display: flex;
  align-items: center;
  justify-content: center;
}
#logoSection img{
  height: 100px;
}
#back span{
  cursor: pointer;
}
#container{
  margin: 0 auto;
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 74px;
  gap: 20px;
} 
#form {
  width: 100%;
  max-width: 700px;
}
.form-group input {
  width: 100%;
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 5px;
}
#cart{
  width: 100%;
  max-width: 500px;
}
#loadingContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: fixed;
  top: 0;
}

#loadingContainer span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #009fe3;
  animation: scale 1.4s infinite;
  margin: 0 5px;
}

#loadingContainer span:nth-child(1) {
  animation-delay: 0.2s;
}

#loadingContainer span:nth-child(2) {
  animation-delay: 0.4s;
}

#loadingContainer span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scale {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5);
  }
}



@media screen and (max-width:1600px) {
  #Header .container{
    padding: 0 25px 0 4px;
  } 
}
@media screen and (max-width:920px) {
  #container{
    gap: 0px;
    flex-direction: column;
  }
  #form {
    max-width: 100%;
  }
  #cart{
    width: 100%;
    max-width: 100%;
    padding: 0 0px;
  }
}
@media screen and (max-width:750px) {
  #Header .container{
    padding: 0 20px 0 0;
  } 
}