.aboutUsContainer {
  padding: 40px 30px 40px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.card {
  /* padding: 40px 30px 40px; */
  flex: 1;
  border: 2px solid #0189c3;
  border-radius: 10px; /* Añade esquinas redondeadas */
  padding: 25px;
  margin-right: 20px;
  transition: box-shadow 0.3s, transform 0.3s; /* Añade transiciones de efectos */
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Efecto de sombreado al pasar el mouse */
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #0189c3;
}

.content {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}
/* Estilos para 965px */
@media screen and (max-width: 965px) {
  .title {
    font-size: 22px;
  }
}

/* Estilos para 768px */
@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .content {
    font-size: 16px;
  }
}

/* Estilos para 350px */
@media screen and (max-width: 350px) {
  .title {
    font-size: 18px;
  }

  .content {
    font-size: 14px;
  }
}
