.salescontainer h2{
  color: #007bff;
  text-align: center;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  width: 400px;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(50% - 10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-right: 70px;
  margin-top: 30px;
  margin-left: 50px;
  background-image: linear-gradient(to bottom left, #a5c9f2, #ffffff);
  
}

.cardIcon {
  color: #585e61d6;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.cardInfo {
  color: #007bff;
  text-align: center;
}

.cardInfo h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.cardInfo p {
  font-size: 36px;
  font-weight: bold;
}
.chartContainer {
  width: 700px;
  height: 700px;
  max-width: 100%;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.chartCanvas {
  max-width: 100%;
  max-height: 100%;
}
.chartTypeButtons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  
}

.chartTypeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 8px;
  color: #777777;
}

.activeChartTypeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 8px;
  color: #007bff;
}
#cardLink {
  text-decoration: none;
}
@media (max-width: 965px) {
  .cardsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .cardIcon{
    text-align: center;
  }
}

/* Estilos para pantallas de hasta 540px */
@media (max-width: 540px) {
  .card{
    width: 200px;
  }
  .cardInfo h3 {
    font-size: 20px;
  }
  
  .cardInfo p {
    font-size: 28px;
  }
  .cardIcon{
    text-align: center;
  }
}

/* Estilos para pantallas de hasta 350px */
@media (max-width: 350px) {
  .card{
    width: 150px;
    height: 150px;
  }
  .cardIcon{
    text-align: center;
  }
  .cardInfo h3 {
    text-align: center;
    font-size: 13px;
  }
  
  .cardInfo p {
    font-size: 20px;
  }
}