/* .salescontainer {
  position: relative;
  z-index: 1;
  background-color: #e5dfdf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  margin-left: 180px;
} */
