.sidebar{
  width: 14rem;
  height: calc(100vh - 81.19px);
  background-color: #0076a5;
  margin-bottom: 0;
  text-decoration: none;
}
.ulist {
  list-style: none;
  width: 100%;
  padding: 15px 0;
}
.ulist a{
  text-decoration: none;
  color: #f1f1f1;
  font-size: 17px;
}
.buttons {
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease;
}
.activeButton {
 background-color: #111111f3;
 transition: all 0.25s ease;
}
.optionsSide{
  display: block;
  padding: 10px 20px;
  transition: all 0.25s ease;
}
.buttons:hover {
  background-color: #11111162;
}


/* darkmode */

.darkMode.sidebar {
  background-color: #111;
}
.darkMode .activeButton{
  background-color: #0076a5;
}
.darkMode .buttons:hover {
  background-color: #11111162;
}

.darkMode .icon {
  color: #fff;
}

.darkMode .label {
  color: #fff;
}

.darkMode .buttons:hover{
  background-color: #0269913f;
}



.show {
  transform: translateX(0);
}

/* responsive */

@media (max-width: 768px) {
  .sidebar {
    width: 3rem; /* Ajusta el ancho del sidebar según tu preferencia */
  }

  .ulist {
    padding: 0; /* Elimina el padding para que los elementos estén pegados */
  }

  .ulist a {
    justify-content: center; /* Centra el contenido horizontalmente */
  }
}