.sidebar {
  width: 14rem;
  height: 100vh;
  border-right: 1px solid gray;
  background-image: linear-gradient(to bottom left, #1064bc, #77ace9);
  margin-bottom: 0;
  text-decoration: none;
}

.ulist {
  list-style: none;
  width: 100%;
}

.buttons {
  width: 100%;
  padding: 10px 20px;
  font-size: 19px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.activeButton {
  width: 125%;
  padding: 10px 0;
  font-size: 19px;
  border: none;
  border-radius: 50px;
  color: #0056b3;
  background-color: #e1e1e1;
  transition: 0.5s;
  display: block;
  margin: 0;
  margin-bottom: 2px;
  text-decoration: none;
}

.buttons:hover {
  width: 125%;
  padding: 10px 0;
  font-size: 19px;
  border: none;
  border-radius: 50px;
  color: #0056b3;
  background-color: #e1e1e1;
  transition: 0.5s;
  display: block;
  margin: 0;
  margin-bottom: 2px;
  text-decoration: none;
}

.buttons:hover a {
  color: #0056b3;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .buttons {
    width: 100%;
  }
}

.icon {
  margin-right: 8px;
}