#top{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}
#logoSection{
    color: #009fe3;
}
#logoSection h1{
    font-size: 35px;
}
#searchBar{
    width: 100%;
    margin: 0 20px;
    max-width: 600px;
}
#searchBar #container{
    display: flex;
    border: 1px solid #b7babc;
    padding: 0 2px 0 25px;
}
#searchBar input{
    width: 100%;
    outline: none;
    border: none;
    height: 38px;
    padding: 1px 0;
}
#searchBar span{
    display: flex;
    padding: 0 25px 0 20px;
    align-items: center;
}
#searchBar span button{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #727272;
}

#rightOptions{
    display: flex;
    align-items: center;
}
#account{
    display: flex;
    padding: 0 15px 0 20px;
    border-left: 1px solid #4a267f;
    border-right: 1px solid #4a267f;
}
#account button{
    border: none;
    background-color: transparent;
}
#account button::after{
    background-repeat: no-repeat;
    display: block;
    height: 29px;
    width: 29px;
    content: "";
    background: url('data:image/svg+xml;utf,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"><path fill="rgb(0,159,227)" d="M25.039 4.497A14.5 14.5 0 0 0 4.533 25.003 14.5 14.5 0 0 0 25.039 4.497ZM7.555 25.307a7.342 7.342 0 0 1 14.462 0 12.772 12.772 0 0 1-14.462 0Zm2.621-12.377a4.61 4.61 0 1 1 9.22 0 4.61 4.61 0 0 1-9.22 0Zm13.31 11.198a9.055 9.055 0 0 0-5.264-5.91 6.31 6.31 0 1 0-6.876 0 9.054 9.054 0 0 0-5.26 5.91 12.8 12.8 0 1 1 17.405 0h-.005Z"/></svg>');
}
#account>:nth-child(2){
    padding-left: 10px;
}
#account span{
    font-size: 11px;
    color: #49267f;
}
#account p{
    font-size: 14px;
    color: #009fe3;
}

#shopping_cart{
    display: flex;
    align-items: center;
    padding: 0 12px;
}
#shopping_cart label{
    height: 23px;
}
#shopping_cart img{
    width: 23px;
    height: 23px;
}
#shopping_cart span{
    font-size: 13px;
    margin-left: 3px;
    font-weight: 500;
}
#buttonMenu{
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}
#buttonMenu a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:#ffffff;
    text-decoration: none;
}
#buttonMenu a *{
    pointer-events: none;
}
#buttonMenu img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#buttonMenu p{
    font-size: 16px;
    font-weight: 500;
}
#navBar{
    display: flex;
    flex-grow: 1;
     list-style: none;
    color:#ffffff;
}
#navBar a{
    font-size: 15px;
    padding: 10px;
    font-weight: 500;
    flex: 1 1 auto;
    text-align: center;
    color:#ffffff;
    text-decoration: none;
}
#navBar a:hover{
    background-color: #0f88c3;
    cursor: pointer;
}

.dashboardIcon{
    font-size: 25px;
    color: #009fe3;
    cursor: pointer;
}