#Container{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 551.48px);
}
#coreBox{
    padding: 64px 0;
    display: flex;
}
#span{
    border: none;
    background-color: transparent;
}
#span{
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    width: 30px;
    content: "";
    background: url('data:image/svg+xml;utf,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"><path fill="rgb(0,159,227)" d="M25.039 4.497A14.5 14.5 0 0 0 4.533 25.003 14.5 14.5 0 0 0 25.039 4.497ZM7.555 25.307a7.342 7.342 0 0 1 14.462 0 12.772 12.772 0 0 1-14.462 0Zm2.621-12.377a4.61 4.61 0 1 1 9.22 0 4.61 4.61 0 0 1-9.22 0Zm13.31 11.198a9.055 9.055 0 0 0-5.264-5.91 6.31 6.31 0 1 0-6.876 0 9.054 9.054 0 0 0-5.26 5.91 12.8 12.8 0 1 1 17.405 0h-.005Z"/></svg>');
    margin-right: 18px;
}
.navLink{
    padding: 25px 0 25px 25px;
    display: block;
    border-left: 2px solid transparent;
    margin: 15px ;
    cursor: pointer;
}
.navLink:hover > span {
    color: #3f3f40;
}
#namne{
    padding-bottom: 10px;
}
#namne h3{
    font-weight: 400;
}
.navLink span{
    color: rgb(114, 114, 115);
    text-decoration: none;
    font-size: 14px;
}
#dataBoxContainer{
    padding: 0px 20px 20px 20px;
}
#dataBox{
    border: 1px solid #b7babc;
    border-radius: 4px;
}
.wrapBin{
    display: flex;
}
.wrapBin>div{
    width: 100%;
    flex: 1;
    padding-bottom: 50px;
}
.wrapBin>div label{
    margin-bottom: 15px;
    display: inline-block;
}
.wrapBin>div input{
    background-color: transparent;
    padding: 5px;
    border: 1px solid transparent;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    color: #979899;
}
#picContainer{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;
}
#foot{
    padding: 0 30px 15px 20px;
    text-align: end;
}
#foot button{
    border: none;
    background-color: transparent;
    color: #0f3e99;
    padding: 6.5px 25px 6.5px 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
#foot button:hover{
    background-color: #dbe9fd;
}