#container{
    padding: 0 0 60px;
}
#top{
    border-top: 1px solid #907dae7a;
    border-bottom: 1px solid #907dae7a;
    margin: 15px 0 0 0;
}
#top label{
    display: block;
}
#top label a{
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;    
    text-decoration: none;
    color: #111111;
    cursor: pointer;
    padding: 15px 0;
}
#top img{
    margin-right: 30px;
    display: inline-block;
}
#top h1{
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
}
#deco{
    width: 100px;
    border: 5px solid #009fe3;
}
#content{
    margin: 40px 0 0;
    display: flex;
    height: 100%;
    align-items: stretch;
}
#leftSide{
    width: 35%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftSide img{
    width: 100%;
    max-height: 100%;
}
#rigthSide{
    z-index: 1;
    width: 65%;
    background-color: transparent;
    transform: translateX(-50px);
    padding-left: 150px;
}
#rigthSide>:nth-child(1){
    height: 100%;
}
#frame{
    width: calc(100% + 24px);
    height: 100%;
    display: flex;
    justify-content: start;
    position: relative;
    overflow: hidden ;
}
#cardsContainer{
    display: flex;
    height: 100%;
    align-items: stretch;
}
#leftArrow{
    background-color: #49267f;
    position: absolute;
    width: 38px;
    height: 38px;
    border: none;
    top: 50%;
    transform: translate(-50px, -50%);
    border-radius: 50%;
    cursor: pointer;
}
#rigthArrow{
    top: 50%;
    background-color: #49267f;
    position: absolute;
    border-radius: 50%;
    width: 38px;
    border: none;
    height: 38px;
    right: 0;
    transform: rotate(180deg) translate(-50px, 50%);
    cursor: pointer;
}


@media screen and (max-width: 1100px) {
    #leftSide{
        width: 22%;
        z-index: 2;
    }
    #leftSide img{
        height: 100%;
    }
    #rigthSide{
        width: 78%;
        padding-left: 130px;
    }
}
@media screen and (max-width: 960px) {
    #content{
        margin: 40px 0 0;
        display: flex;
        height: 100%;
        gap: 15px;
        flex-direction: column;
    }
    #leftSide{
        width: 100%;
        z-index: 2;
    }
    #leftSide img{
        height: 100%;
    }
    #rigthSide{
        margin-top: 15px;
        width: 100%;
        padding: 0 50px;
        transform: translateX(-0px);
    }
}
@media screen and (max-width: 745px) {
    #rigthSide{
        padding: 0 20px;
    }
    #leftArrow{
        width: 30px;
        height: 30px;
        transform: translate(-30px, -50%);
    }
    #rigthArrow{
        width: 30px;
        height: 30px;
        transform: rotate(180deg) translate(-30px, 50%);
    }
    #frame{
        transform: translateX(-2.5px);
    }
}
@media screen and (max-width: 490px) {
    #rigthSide{
        padding: 0 15px;
    }
    #leftArrow{
        width: 32px;
        height: 32px;
        transform: translate(-30px, -50%);
    }
    #rigthArrow{
        width: 32px;
        height: 32px;
        transform: rotate(180deg) translate(-30px, 50%);
    }
}
@media screen and (max-width: 480px) {
    #rigthSide{
        padding: 0 40px;
    }
    #leftArrow{
        width: 40px;
        height: 40px;
        transform: translate(-44px, -50%);
    }
    #rigthArrow{
        width: 40px;
        height: 40px;
        transform: rotate(180deg) translate(-44px, 50%);
    }
}
@media screen and (max-width: 380px) {
    #rigthSide{
        padding: 0 35px;
    }
}