#nav{
    padding: 50px 0 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#nav>div{
    flex: 1 1 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
#nav>div img{
    width: 42px;
    height: 42px;
    margin-right: 3px;
}
#nav>div label{
    display: block;
    max-height: 42px;
}
#nav>div span{
    font-size: 13px;
    font-weight: 400;
    color: #0f191e;
    margin-left: 5px;
    display: inline;
}
#infSuperReo{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 30px 20px 40px;
    width: 100%;
}
#infSuperReo>:nth-child(1){
    width: 27%;
}
#infSuperReo>:nth-child(2){
    width: 40%;
}
#infSuperReo>:nth-child(3){
    width: 33%;
}
#infSuperReo>:nth-child(1)>:nth-child(1){
    padding-right: 18%;
}
#infSuperReo>:nth-child(2)>:nth-child(1){
    padding: 0 8%;
}
#infSuperReo>:nth-child(3)>:nth-child(1){
    padding: 0 8%;
}
#infSuperReo h1{
    font-size: 25px;
    margin-bottom: 16px;
}
#infSuperReo h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
#infSuperReo p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
}
.contact{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.contact img{
    width: 36px;
    max-height: 34px;
    object-fit: contain;
    margin-right: 20px;
}
.contact span{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}
.contact .accentColor{
    color: var(--accent-background); 
}
#imgContainerPayment{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 6px;
}
#imgContainerPayment img{
    height: 45px;
}

#footer{
    width: 100%;
    background-color: var(--main-background);
    color: var(--main-color);;
    text-align: center;
    padding: 4px 0px 3px 0;
    font-size: 14px;
}

.acerca{
    text-decoration: none;
}

@media screen and (max-width:920px) {
    #nav{
        gap: 0;
    }
    #nav>div{
        flex-basis: 50%;
        max-width: 50%;
        justify-content: start;
        padding: 0px 10px;
        margin: 25px 0;
    }
    #infSuperReo{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        padding: 30px 15px 40px 10px;
        width: 100%;
    }
    #infSuperReo h1{
        color: #000000;
        font-size: 25px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width:780px) {
    #infSuperReo{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        padding: 30px 20px 40px;
        width: 100%;
        flex-direction: column;
    }
    #infSuperReo>:nth-child(1){
        width: 100%;
    }
    #infSuperReo>:nth-child(2){
        width: 100%;
    }
    #infSuperReo>:nth-child(3){
        width: 100%;
    }
    #infSuperReo>:nth-child(1)>:nth-child(1){
        padding: 25px 0;
    }
    #infSuperReo>:nth-child(2)>:nth-child(1){
        padding: 25px 0;
    }
    #infSuperReo>:nth-child(3)>:nth-child(1){
        padding: 25px 0;
    }
    #infSuperReo h1{
        color: #000000;
        font-size: 30px;
        margin-bottom: 6px;
    }
    #infSuperReo h2{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 4px;
        color: #000000;
    }
    #infSuperReo p{
        font-size: 15px;
        font-weight: 400;
        color: rgb(15, 25, 30);
        padding-bottom: 15px;
    }
    .contact{
        margin-bottom: 15px;
    }
}