#nav{
    padding-top: 50px;
    display: flex;
}
#nav>div{
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
#nav>div img{
    width: 42px;
    height: 42px;
}
#nav>div label{
    display: block;
    max-height: 42px;
}
#nav>div span{
    font-size: 13px;
    font-weight: 400;
    color: #0f191e;
    margin-left: 5px;
}