
.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vmax);
  background-color: #363a3e27; 
}

  .adminTitle {
    font-size: 35px;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 0;
  }