body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #363a3e27;
}

.dashboardContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.titleDashboard {
  font-size: 34px;
  font-weight: bold;
  /* background-image: url('ruta/a/la/imagen.jpg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #007bff;
  padding: 7px;
}

.darkMode {
  background-color: #111;
  color: #fff;
}

.darkMode h1 {
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px; /* Agrega un espaciado derecho para separar el botón del borde */
}

.titleDashboard {
  margin: 0;
  flex: 1; /* Permite que el título ocupe todo el espacio disponible */
}

.darkModeButton {
  color: #fff;
  margin-left: 10px; /* Agrega un margen izquierdo para separar el botón del título */
}

.content {
  display: flex;
}