#body{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 552.53px);
}
#cardsContaier{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}