.productsContainer {
  padding: 18px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.searchInput {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-bottom-color 0.3s ease;
  border-radius: 30px;
}
.searchInput:focus {
  border-bottom-color: #007bff;
}
#containerButt{
  margin: 0 12px;
}
#tableContainer {
  width: 100%;
  background-image: linear-gradient(to bottom left, #a5c9f2, #ffffff);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.tableOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tableOverlayMessage {
  font-size: 20px;
  color: #777;
}

.tableOverlayMessage span {
  
  font-weight: bold;
  color: #333;
}

.table {
  width: 150%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-break: break-all;
}

.editButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.editButton {
  background-color: #0558b0;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover{
  background-color: darkred;
}

.containerAdd {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.buttonsAdd {
  text-decoration: none;
  background-color: green;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.buttonsAdd:hover {
  background-color: darkgreen;
}

.iconoAdd {
  font-size: 75px;
}
.onlineStatus {
    color: green;
  }
  
  .offlineStatus {
    color: red;
  }


  .restoreButton {
    background-color: green;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .restoreButton:hover {
    background-color:darkgreen;
  }
  

  .filterButtons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .filterButton {
    /* Estilos generales para los botones de filtrado */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .activeFilterButton {
    /* Estilos para el botón de filtrado activo */
    background-color: #555;
    color: #fff;
  }
  
  .filterButton:first-child {
    margin-right: 8px;
  }

  /* CSS para los estilos de los botones de paginado */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #ccc;
  color: #fff;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 5px;
  color: #333;
}


/* darkmode */

.darkMode {
  color: #fff;
}

.darkModeTable {
  /* background-color: #111111e3; */
  color: #111;
}

.darkModeTable th,
.darkModeTable td {
  border-color: #fff;
}


.onlineIcon {
  color: green;
}

.offlineIcon {
  color: red;
}


.table td.productName {
  max-width: 150px; /* Ajusta este valor según tus preferencias */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Products.module.css */

/* Estilos para la vista móvil */
@media (max-width: 800px) {

  .table td.productName {
    max-width: 100px; /* Ajusta este valor según tus preferencias */
  }
  .mobileTable {
    display: block;
    overflow-x: auto;
  }

  .mobileTable thead {
    display: none;
  }

  .mobileTable tbody,
  .mobileTable tr,
  .mobileTable td {
    display: block;
    width: 100%;
  }

  .mobileTable td {
    text-align: left;
  }
  .searchContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }
  .filterButtons {
    gap: 0.01rem;
  }
}